<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
  }

  p {
    margin: 0;
  }
  .toolbar {
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    color: white;
    font-weight: 3000;
  }

  .toolbar a{
    padding: 10px;
  }
  .content {
    display: flex;
    margin: 20px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;

  }
</style>
<div class="toolbar" role="banner">
  <img
    src= "https://i.ytimg.com/vi/D7uGqU_J7dU/maxresdefault.jpg" width="300" height="150"
  />
  <div>
    <div class="container" style="font-size: xx-large" >
      <a [routerLink]="'project-root'" class="navbar-brand" >Current Projects</a>
    </div>
  </div>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


