h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  color: white;
  font-weight: 3000;
}

.toolbar a{
  padding: 10px;
}
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: normal;
}
